*.iml
.gradle
/local.properties
/keystore.properties
*.jks
*.keystore
.idea/
.DS_Store
build/
build_out/
app/build_out/
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.apk
*.aab
/docs/reports/
/schemas/
.kotlin/
.gradle-cache/
